/CRLeaves
__pycache__/data_preprocessing.cpython-312.pyc
/going_modular
/Indices
/lightning_logs
/wandb
/CR_Leaves
/__pycache__
conv/__pycache__/conv_module.cpython-312.pyc
conv/__pycache__/convnext.cpython-312.pyc
conv/__pycache__/efficientnet.cpython-312.pyc
conv/__pycache__/resnet.cpython-312.pyc
vit/__pycache__/vit_ensemble.cpython-312.pyc
vit/__pycache__/vit_huge.cpython-312.pyc
vit/__pycache__/vit_medium.cpython-312.pyc
vit/__pycache__/vit_module.cpython-312.pyc
vit/__pycache__/vit_small.cpython-312.pyc
